:root {
  --floral-white: #fbf9f8;
  --bitter-sweet: #ff7b65;
  --pacific-blue: #31b7ca;
  --english-violet: #574b60;
  --dark-purple: #2c1e38;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  color:  var(--dark-purple);

  background-color: var(--floral-white);

}

h1 {
  text-transform: uppercase;
  
}

p {
  font-size: 20px;

}

a {
  color: var(--bitter-sweet);

}

#global-wrapper {
  width:  100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

}

.menu-item {
  display: inline-block;

}

p.menu-item {
  font-size: 30px;
  
}

#tagline {
  width: 100%;
  text-align: right;

}

#contentblock {
  padding-left:  75px;
  padding-right:  75px;
  padding-top:  10px;
  padding-bottom:  10px;

}

#footerblock>p {
  font-size: 14px;
  text-align:  center;

}

#footerblock>hr {
  padding-left:  75px;
  padding-right:  75px;

}